html,
body {
	padding: 0;
	margin: 0;
	font-family: "Archivo";
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: "Archivo";
}

::-moz-selection {
    background-color: #B05C3C;
    color: #fff;
}

::selection {
    background-color: #B05C3C;
    color: #fff;
}

.bg-dark-brown {
    background-color: #753523 !important;
}

.bg-brown {
    background-color: #B05C3C !important;
}

.bg-mocca {
    background-color: #D79771 !important;
}

.bg-beige {
    background-color: #FFEBC9 !important;
}

.text-dark-brown {
    color: #753523 !important;
}

.text-brown {
    color: #B05C3C !important;
}

.text-mocca {
    color: #D79771 !important;
}

.text-beige {
    color: #FFEBC9 !important;
}

.btn-dark-brown {
    background-color: #753523 !important;
    color: #FFF !important;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

.btn-dark-brown:hover {
    background-color: #682B1A !important;
}

.btn-brown {
    background-color: #B05C3C !important;
    color: #FFF !important;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

.btn-brown:hover {
    background-color: #A55231 !important;
}

.btn-mocca {
    background-color: #D79771 !important;
    color: #FFF !important;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

.btn-mocca:hover {
    background-color: #CE8C66 !important;
}

.btn-beige {
    background-color: #FFEBC9 !important;
    box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

.btn-beige:hover {
    background-color: #EED8B2 !important;
}

.btn:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border-bottom: 1px solid #bfbe58 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}