html,
body {
	padding: 0;
	margin: 0;
	font-family: "Archivo";
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: "Archivo";
}

.bg-dark-brown {
	background-color: #753523 !important;
}

.bg-brown {
	background-color: #b05c3c !important;
}

.bg-mocca {
	background-color: #d79771 !important;
}

.bg-beige {
	background-color: #ffebc9 !important;
}

.text-dark-brown {
	color: #753523 !important;
}

.text-brown {
	color: #b05c3c !important;
}

.text-mocca {
	color: #d79771 !important;
}

.text-beige {
	color: #ffebc9 !important;
}

.btn-dark-brown {
	background-color: #753523 !important;
	color: #fff !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.btn-dark-brown:hover {
	background-color: #682b1a !important;
}

.btn-brown {
	background-color: #b05c3c !important;
	color: #fff !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.btn-brown:hover {
	background-color: #a55231 !important;
}

.btn-mocca {
	background-color: #d79771 !important;
	color: #fff !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.btn-mocca:hover {
	background-color: #ce8c66 !important;
}

.btn-beige {
	background-color: #ffebc9 !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.btn-beige:hover {
	background-color: #eed8b2 !important;
}

.btn:focus {
	box-shadow: none !important;
}

.form-control:focus {
	border-bottom: 1px solid #bfbe58 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
}
